Package: com.kmg.kjc
Name: KJCTheme
Version: 6.9
Architecture: iphoneos-arm
Description: KJC IS OUT HERE ON YA IPHONE, RIP BIG BOSS NIGGA.
Maintainer: KJC (KMG) <scooters@null.net>
Author: KJC (KMG) <scooters@null.net>
Section: Themes (Springboard)
