Package: com.toyopagroup.picaboo
Name: KJC Theme
Version 6.6.6
Architecture: iphoneos-arm
Description: KJC, We out here on your iPhone.
Maintainer: KJC (KMG) <scooters@null.net>
Author: KJC (KMG) <scooters@null.net>
Section: Themes (Springboard)